<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horizon.taskdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.horizon.taskdemo.application.DemoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.horizon.taskdemo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.horizon.taskdemo.activity.LoadingTestActivity"/>
        <activity android:name="com.horizon.taskdemo.activity.CountingTestActivity"/>
        <activity android:name="com.horizon.taskdemo.activity.ConcurrentTestActivity"/>
        <activity android:name="com.horizon.taskdemo.activity.SerialTestActivity"/>
        <activity android:name=".activity.ChainTestActivity" />
        <activity android:name=".activity.ConcurrentTestActivity2" />
        <activity android:name=".activity.NotChainTestActivity" />
    </application>

</manifest>